{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}

    <nav id="" class="bg-body-tertiary p-3 m-3">
      <h1 class="display-5" href="#">Study on</h1>
    </nav>

    <h1 class="m-3">Курсы</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 m-3" >
        {% for course in courses %}
        <div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<p >{{ course.title }}</p>
					</h5>
					<p class="card-text">{{ course.description }}</p>
					<a href="{{ path('app_course_show', {'id': course.id}) }}" class="blockquote">
						Пройти
					</a>
				</div>
			</div>
        </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <a class="btn btn-outline-secondary" href="{{ path('app_course_new') }}">Создать</a>
{% endblock %}
