{% extends 'base.html.twig' %}

{% block title %}
    Profile/StudyOn
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="username card-title">{{ user.email }}</h5>
            <p class="card-text">
                <div class="balance">Баланс:
                    {{ user.balance }}₽
                </div>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                    Администратор
                {% else %}
                    Пользователь
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}